/* CSS Variables */
:root {
    --dark-purple: rgb(17, 2, 17);
    --dull-aqua: rgb(161, 206, 214);
    --dark-gray: rgb(46, 45, 45);
}

body {
    height: 100vh;
    background-color: rgb(240, 230, 240);
    color: var(--dark-purple);
}

/***** HEADER *****/
header {
    min-height: 30%;
    background-image: url("../images/background_portfolio.png");
    background-position: center;
    position: relative; /* to position subtitle relative to header */
}

/* Top Gray Header */
#top-header {
    display: flex; /* to align name and navbar in row */
    flex-wrap: wrap; /* wrap navbar to next line if doesnt fit */
    justify-content: space-between; /* position name and navbar to ends of site */ 
    align-items: center; /* position elements in center vertically */
    background-color: var(--dark-gray);
    min-height: 70px;
}

/* Name */
#top-header h1 {
    background-color: var(--dull-aqua);
    color: var(--dark-gray);
    font-size: 50px;
    height: 50px;
    padding: 0 0 0 30px;
}

nav ul {
    float: right;
    padding: 0 30px 0 0;
    display: flex; /* to align list items in row */
}

nav li {
    text-decoration: underline;
    padding: 20px;
    font-size: 25px;
}

nav a {
    color: var(--dull-aqua);
}

/* Profile Image */
header img {
    border-radius: 25%;
    border: 3px solid var(--dark-gray);
    margin-left: 2%;
    height: 250px;
}

/* Subtitle */
header h2 {
    background-color: var(--dull-aqua);
    font-size: 35px;
    color: var(--dark-gray);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/***** MAIN SECTION *****/
main {
    padding-bottom: 1px;
}

/* Section titles */
main h2 {
    font-size: 50px;
    border-right: 3px solid var(--dark-purple);
    padding: 20px;
    text-align: right;
    width: 20%;
}

#about-me, #work, #contact-me {
    display: flex;
    margin: 40px 0;
}

/***** ABOUT ME SECTION *****/
#about-me p{
    width: 80%;
    padding: 20px;
    font-size: 20px;
}

/***** WORK SECTION *****/
#work #projects {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;  /* section and div are flex items */
}

/* Individual Projects */
#project-1, #project-2, #project-3, #project-4, #project-5 {
    background-image: url("../images/web_dev_background.jpg");
    background-size: cover;
    filter: brightness(70%);
    /* width: 80%; */
    margin: 15px 15px;
    border: 4px solid var(--dull-aqua);
    position: relative;
}

#project-1 {
    flex: 0 0 86%;
    height: 300px;
}

div {
    flex: 0 0 90%;
    display: flex;
    flex-wrap: wrap; /* anchor elements are flex items */
}

div a {
    flex: 0 0 47%;
    height: 150px;
}

.project-title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 175px;
    height: 50px;
    color:var(--dark-gray);
    background-color: var(--dull-aqua);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Project becomes brighter if hovered over */
#work #projects a:hover {
    filter:brightness(100%);
    cursor: pointer;
}

/***** CONTACT ME SECTION *****/
#contact-me ul{
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#contact-me li {
    text-decoration: underline;
}

#contact-me a {
    font-size: 20px;
}

/* Responsive Layout */
@media screen and (max-width: 990px) {
    /* When navbar moves to next line, fill top line with name */
    #top-header h1 {
        min-width: 100%;
        text-align: center;
    }

    /* When navbar moves to next line, center navbar */
    nav {
        margin: 0 auto;
    }

    /* TODO: center image */
    header img {
        text-align: center;
    }

    header h2 {
        min-width: 100%;
        text-align: center;
        left: 0;
        bottom: 0;
    }
}
/* @media screen and (max-width: 986px) {
    #top-header {
        flex-direction: column;
        width: 100%;
    }

    #top-header h1 {
        width: 100%;
        text-align: center;
    }


} */

/* @media screen and (max-width: 768px) {
    header, #top-header {
      flex-direction: column;
    }

    #top-header h1 {
        width: 100%;
        text-align: center;
    }

    nav li {
        display: block;
        text-align: center;
    }

    #about-me {
        flex-direction: column;
    }

    main h2 {
        width: 100%;
        border-right: none;
        border-bottom: 3px solid var(--dark-purple);
        text-align: left;
        padding-bottom: 10px;
    }
}  */