body {
    height: 100vh;
    background-color: rgb(240, 230, 240);
    color: rgb(17, 2, 17);
}

header {
    height: 200px;
    background-image: url("../images/background_portfolio.png");
    background-position: center;
    /* background-size: cover; */
    position: relative;
}

#top-header a {
    color: rgb(161, 206, 214);
}

nav li {
    display: inline;
    text-decoration: underline;
    padding: 20px;
    font-size: 25px;
    
}

nav ul {
    float: right;
    padding: 0 30px 0 0;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 45, 45);
    height: 70px;
    
}

header h1 {
    background-color: rgb(161, 206, 214);
    color:rgb(46, 45, 45);
    font-size: 50px;
    height: 50px;
    padding: 0 0 0 30px;
}

header h2 {
    background-color: rgb(161, 206, 214);
    font-size: 35px;
    color: rgb(46, 45, 45);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

main {
    padding-bottom: 1px;
}

main h2 {
    font-size: 50px;
    border-right: 3px solid rgb(17, 2, 17);
}

#about-me, #work, #contact-me {
    display: flex;
    margin: 40px 0;
}

#about-me h2{
    width: 20%;
    padding: 20px;
    text-align: right;
}

#about-me p{
    width: 80%;
    padding: 20px;
}

p {
    font-size: 20px;
}

/***** WORK SECTION *****/
#work h2 {
    padding: 20px;
    text-align: right;
    width: 20%;
}

#work #projects {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#work #projects section {
    background-color: aqua;
    /* width: 80%; */
    margin: 15px 15px;
}

#project-1 {
    flex: 0 0 86%;
    height: 300px;
}

div {
    flex: 0 0 90%;
    display: flex;
    flex-wrap: wrap;
}

div section {
    flex: 0 0 47%;
    height: 150px;
}

/* #project-2, #project-3 {
    flex: 1 0 400px;
}

#project-4, #project-5 {
    flex: 1 0 400px;
} */


/***** CONTACT ME SECTION *****/
#contact-me h2 {
    padding: 20px;
    text-align: right;
    width: 20%;

}

#contact-me ul{
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#contact-me li {
    text-decoration: underline;
}

#contact-me a {
    font-size: 20px;
}
