/* CSS Variables */
:root {
    --dark-purple: rgb(17, 2, 17);
    --dull-aqua: rgb(161, 206, 214);
    --dark-gray: rgb(46, 45, 45);
}

body {
    height: 100vh;
    background-color: rgb(240, 230, 240);
    color: var(--dark-purple);
}

/***** HEADER *****/
header {
    min-height: 30%;
    background-image: url("../images/background_portfolio.png");
    background-position: center;
    position: relative; /* to position subtitle relative to header */
}

/* Top Gray Header */
#top-header {
    display: flex; /* aligns name and navbar in row */
    flex-wrap: wrap; /* wrap navbar to next line if doesnt fit */
    justify-content: space-between; /* position name and navbar to ends of site */ 
    align-items: center; /* position elements in center vertically */
    background-color: var(--dark-gray);
    min-height: 70px;
}

/* Name */
#top-header h1 {
    background-color: var(--dull-aqua);
    color: var(--dark-gray);
    font-size: 50px;
    height: 50px;
    padding: 0 0 0 30px;
}

nav ul {
    float: right;
    padding: 0 30px 0 0;
    display: flex; /* aligns list items in row */
}

nav li {
    text-decoration: underline;
    padding: 20px;
    font-size: 25px;
}

nav a {
    color: var(--dull-aqua);
}

/* Profile Image */
header img {
    border-radius: 25%;
    border: 3px solid var(--dark-gray);
    margin-left: 2%;
    height: 250px;
    position: relative;
}

/* Subtitle */
header h2 {
    background-color: var(--dull-aqua);
    font-size: 35px;
    color: var(--dark-gray);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/***** MAIN SECTION *****/
main {
    padding-bottom: 1px;
}

/* Section titles */
main h2 {
    font-size: 50px;
    border-right: 3px solid var(--dark-purple);
    padding: 20px;
    text-align: right;
    width: 20%; /* keeps 20% of viewport for titles, roughly 80% for content */
}

#about-me, #work, #contact-me {
    display: flex; /* makes section title and content flex items in row */
    margin: 40px 0; /* gives space between sections */
}

/***** ABOUT ME SECTION *****/
#about-me p {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
}

/***** WORK SECTION *****/
#projects {
    width: 80%;
    padding: 20px;
    display: flex;  /* 1st and remaining 4 projs are flex items */
    flex-wrap: wrap; /* 4 projects wrap to next line */ 
}

/* Individual Projects */
#project-1, #project-2, #project-3, #project-4, #project-5 {
    background-image: url("../images/web_dev_background.jpg");
    background-size: cover;
    filter: brightness(70%);
    margin: 10px;
    border: 4px solid var(--dull-aqua);
    position: relative; /* to position project title cards relative to project */
}

#project-1 {
    background-image: url("../images/portfolio_img.jpg");
    background-size: 100% 100%;
    flex: 0 0 87%;
    height: 300px;
}

#project-2 {
    background-image: url("../images/horiseon_img.png");
    background-size: cover;
}

#project-3 {
    background-image: url("../images/prework_img.jpg");
    background-size: 100% 150%;
}

#four-projects {
    flex: 0 0 90%;
    display: flex;
    flex-wrap: wrap; /* anchor elements (indiv 4 projects) are flex items */
}

#project-2, #project-3, #project-4, #project-5 {
    flex: 0 0 47.5%;
    height: 150px;
}

.project-title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 175px;
    height: 50px;
    color: var(--dark-gray);
    background-color: var(--dull-aqua);
    display: flex; /* header and para are flex items */
    flex-direction: column;
    justify-content: center;
}

/* Project becomes brighter if hovered over */
#projects a:hover {
    filter:brightness(100%);
    cursor: pointer;
}

/***** CONTACT ME SECTION *****/
#contact-me ul{
    width: 80%;
    padding: 20px;
    display: flex; /* list items are flex items in row */
    justify-content: space-evenly;
    align-items: center; /* vertically center list items */
}

#contact-me li {
    text-decoration: underline;
}

#contact-me a {
    font-size: 20px;
    color: var(--dark-purple);
}

/* Responsive Layout */
@media screen and (max-width: 1164px) {
    /* Make project 1 same height as other projects */
    #project-1 {
        height: 150px;
    }
    
    /* Make projects 2-5 same width as project 1 */
    #project-2, #project-3, #project-4, #project-5 {
        min-width: 97%;
    }
}

@media screen and (max-width: 1080px){
    /* Put section header on top of content */
    #about-me, #work, #contact-me {
        flex-direction: column;
    }

    /* Reformat section headers */
    main h2 {
        width: 90%;
        border-right: none;
        border-bottom: 3px solid var(--dark-purple);
        text-align: left;
        padding-bottom: 10px;
        margin-left: 10px;
    }

    /* TODO: center paragraph on smaller screen sizes */
    #about-me p {
        align-items: center;
    }
}

@media screen and (max-width: 990px) {
    /* When navbar moves to next line, fill top line with name */
    #top-header h1 {
        min-width: 100%;
        text-align: center;
        padding: 0px;
    }

    /* When navbar moves to next line, center navbar */
    nav {
        margin: 0 auto;
    }

    /* Decrease padding between navbar list items so they fit on same line */
    nav li {
        padding: 10px;
    }

    /* TODO: center image properly */
    header img {
        left: 30%; 
    }

    /* Move subtitle below image */
    header h2 {
        min-width: 100%;
        text-align: center;
        left: 0;
        bottom: -32px;
    }
}

@media screen and (max-width: 800px){
    /* Stack contact items vertically to left of screen */
    #contact-me ul {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Separate list items from each other */
    #contact-me li {
        padding: 5px;
    }
}

@media screen and (max-width: 500px){
    header {
      width: 100vh;
    }
}
